.cle{
	clear: both;
}
input{
	outline: none;
}
/*头部*/
.header{
	width: 100%;
	height: 75px;
	background-color: #000;
}
.header .header-c{
	position: relative;
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.header .header-c .logo{
	position: relative;
	display: block;
	width: 119px;
	height: 75px;
	background: url(../img/logo.jpg) no-repeat left center;
}
.header .header-c .logo-jj{
	position: absolute;
	top: 19px;
	right: 0;
	display: block;
}
.header .header-c .header-c-detail{
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}
.header .header-c-detail .header-c-link{
	float: left;
	margin-left: 36px;
	margin-top: 13px;

}
.header .header-c-link .header-c-item{
	display: block;
	width: 64px;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	text-align: center;
	color: #fff;
}
.header .header-c-detail .header-c-link.active .header-c-item{
	border-bottom: 2px solid #dd1717;
	color: #dd1717;
}
/*主体上方装饰*/
.container{
	background-color: #161616;
	border-top: 1px solid #161616;
	width: 100%;
	height: 822px;
}
.container .container-c{
	width: 1200px;
	height: 100%;
	margin: 52px auto;
}
.container .container-c .contact{
	width: 517px;
	height: 48px;
	margin:0 auto;
}
.container .contact .lines{
	float: left;
	width: 129px;
	height: 19px;
}
.container .lines .line{
	display: block;
	width: 129px;
	height: 2px;
	margin-top: 8.5px;
	background-color: #8d1717;
}
.container .contact .detail-top{
	float: left;
	width: 123px;
	height: 19px;
	line-height: 19px;
	margin-left: 68px;
	margin-right: 68px;
	font-size: 24px;
	color: #dd1717;
}
.container .contact .detail-bottom{
	font-size: 16px;
	color: #8c8c8c;
	text-align: center;
	height: 16px;
	line-height: 16px;
	width: 517px;
	padding-top: 13px;
}
/*主体*/
.container .main-body{
	position: relative;
	width: 1000px;
	height: 575px;
	margin: 0 auto;
}
.container .main-body .text{
	float: left;
	width: 280px;
	height: 100%;
}
.container .main-body .form{
	position: absolute;
	right: 0;
	float: left;
	width: 535px;
	height: 100%;
}
.container .text .text-logo{
	width: 100%;
	height: 44px;
	background: url(../img/logo.jpg) no-repeat 2px center;
}
.container .text-logo .text-logo-jj{
	margin-left: 54px;
	margin-top: 4px;
}
.container .text .des{
	margin-top: 28px;
	line-height: 30px;
	text-align: left;
}
.container .des .red{
	font-size: 14px;
	color: #dd1717;
}
/*右边form*/
.container .form .form-des{
	position: relative;
	width: 100%;
	height: 23px;
	padding-top: 20px;
}
.container .form-des .form-detail{
	float: left;
	/*height: 44px;*/
	line-height: 24px;
	/*padding-top: 20px;*/
	font-size: 14px;
	color: #fff;
}
.container .form-des .red-star{
	position: relative;
	left: -7px;
	top: -1px;
	float: left;
	display: block;
	/*width: 7px;*/
	/*height: 7px;*/
	line-height: 24px;
	font-size: 20px;
	color: #dd1717;
}
.container .form .form-item{
	width: 100%;
	height: 46px;
	color: #fff;
	border: 1px solid #363636;
	background-color: #1f1f1f;
}
.container .form .form-des.name{
	padding-top: 0;
}
.container .form .form-item.are{
	width: 100%;
	height: 177px;
}
.container .form .submit{
	display: block;
	width: 148px;
	height: 48px;
	margin: 50px auto;
	line-height: 24px;
	border: none;
	border-radius: 48px;
	font-size: 16px;
	font-weight: bold;
	color: #fefefe;
	background-color: #dd1717;
}
/*底部*/
.footer{
	width: 100%;
	height: 350px;
	background-color: #000;
}
.footer .footer-c{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
.footer .footer-c .footer-detail{
	float: left;
	margin-top: 120px;
	width: 398px;
	height: 110px;
}
.footer .footer-c .footer-detail.lt{
	width: 398px;
	font-size: 16px;
	color: #8c8c8c;
}
.footer .footer-detail.lt .website{
	width: 100%;
	margin-top: 26px;
	height: 84px;
}
.footer .footer-c .footer-detail.center{
	border-left: 2px solid #0e0e0e;
	border-right: 2px solid #0e0e0e;
}		
.footer .footer-c .adress{
	height: 100%;
	line-height: 36px;
	margin-left: 112px;
	color: #8c8c8c;
	font-size: 14px;
}
.footer .footer-c .tel{
	height: 100%;
	line-height: 36px;
	margin-left: 193px;
	color: #8c8c8c;
	font-size: 14px;
}		
.footer .website-detail .website-item{
	display: block;
	float: left;
	width: 29px;
	height: 29px;
	margin-right: 20px;
	background-repeat: no-repeat;
	background-size: auto 29px;	
	background-position: center;
}
.footer .website-detail .website-item.wb{
	background-image: url(../img/wb.png);
}			

.footer .website-detail .website-item.qq{
	background-image: url(../img/qq.png);	
}
.footer .website-detail .website-item.wx{
	background-image: url(../img/wx.png);
}
.footer .website-detail .website-item.baidu{
	background-image: url(../img/baidu.png);
}		

.footer .website .website-detail{
	margin-top: 16px;
}
/*底部banner*/
.banner-bottom{
	width: 100%;
	height: 76px;
	line-height: 76px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	background-color: #161616;
}
