.swiper{
	position: absolute;
	left: 0;
	top: 0;
	width: 500%;
	height: 100%;
}
.swiper .slide{
	float: left;
	width: 1200px;
	height: 100%;

}
/*对img最好重新设置宽高,因为图片一旦发生替换,如果再次替换的图片没有按照之前设计图尺寸 可能出问题.*/
.swiper .slide>img{
	width: 100%;
	height: 100%;
}