body{
	font: 16px/1.2 '微软雅黑';
}
.head{
	width: 100%;
	height: 560px;
	background-color: rgba(0.0.0.0);
}
.head .head-c{
	position: relative;
	width: 1200px;
	height: 560px;
	margin: 0 auto;
	/*background-image: url(../img/banner-1.jpg);*/
	overflow: hidden;
}
.head .head-c .logo{
	width: 120px;
	height: 50px;
	margin-top: 18px;
}
.head .head-c .nav{
	/*float: right;*/
	position: absolute;
	right: 0;
	top: 0;
	height: 80px;
}
.head .head-c .nav-item{
	position: relative;
	float: left;
	width: 70px;
	height: 100%;
	text-align: center;
	margin-left:32px;
	/*margin: 16px;*/
	/*top: -60px;*/
}
.head .head-c .nav-item a{
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #7c7c7c;
	line-height: 80px;
}
.head-c .nav-item .under-line{
	position: absolute;
	display: none;
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 20px;
	background-color: #dd1717;
}
/*所有带激活样式的样式 必须和前面的选择器一致!不一样的话,可能出现带了active的选择器还是没有前面的优先级高*/
.head-c .nav-item.active .under-line{
	display: block;
}
.head-c .nav-item.active a{
	color: #dd1717;
}
.head-c .head-c-top{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 100;
}
.head-c .banner{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	height: 1100px;
	background-color: #161616;
}
.container .container-c{
	width: 1200px;
	/*height: 1150px;*/
	margin: 0 auto;
	background-color: #161616;
}
.container .container-c .product-item{
	position: relative;
	color: #dd1717;
	width: 100%;
	height: 100%;
	font-size: 24px;
	top: 115px;
	text-align: center;
}
.container .product-item .product-cn{
	font-size: 14px;
	color: #535252;
}
.container .product-item .hr1{
	position: relative;
	left: 300px;
	top: 10px;
	display: block;
	width: 130px;
	height: 2px;
	background-color: #dd1717;
}
.container .product-item .hr2{
	position: relative;
	left: 800px;
	top: -35px;
	display: block;
	width: 130px;
	height: 2px;
	background-color: #dd1717;
}
.container .container-c .class-item{
	/*position: relative;*/
	width: 1200px;
	height: 100px;
	/*left: 200px;*/
	margin: 0 auto;
	margin-top: 200px;
}
.container-c .class-item a{
	display: block;
	font-size: 14px;
	color: #7c7c7c;
	line-height: 20px;
	border: 1px solid #7c7c7c;
	margin: 15px;
}
.container-c .class-item .nav-item{
	/*float: left;*/
	/*目的是实现左右居中
	问题?每行结束会有一个换行符的空间*/
	display: inline-block;
	width: 100px;
	height: 100%;
	text-align: center;
}
.container-c .class-item .nav2{
	margin: 0 auto;
	/*只能对行内/行内块元素 水平居中*/
	text-align: center;
	/*使换行符的大小为0*/
	font-size: 0;
}
.container-c .class-item .nav2 .active{
	color: #fff;
	border: 1px solid #dd1717;
	background-color: #dd1717;
}
.container-c .product-item .product-pic{
	position: relative;
	top: -100px;
}
.pages-item .nav3 .nav-item{
	position: relative;
	width: 1200px;
	height: 100px;
	left: 200px;
	margin: 0 auto;
	margin-top: 80px;
}
.container-c .pages-item a{
	display: block;
	width: 20px;
	font-size: 14px;
	color: #7c7c7c;
	line-height: 20px;
	margin: 10px;
}
.container-c .pages-item .nav-item{
	float: left;
	width: 100px;
	height: 100%;
	text-align: center;
}
.container-c .pages-item .nav3 .active{
	color: #fff;
	background-color: #dd1717;
}
.footer{
	width: 100%;
	height: 200px;
	background-color: rgba(0.0.0.0);
}
.footer .footer-c{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
}
.footer .footer-c .company-name{
	float: left;
	width: 400px;
	height: 150px;
}
.footer .footer-c .company-address{
	float: left;
	border: solid 1px #333;
	border-top:none;
	border-bottom:none;
	width: 398px;
	height: 150px;
}
.footer .footer-c .company-tel{
	float: left;
	width: 400px;
	height: 150px;
}
.footer-c p{
	position: relative;
	top: 30px;
	left: 80px;
	font-size: 14px;
	color: #333;
	line-height: 28px;
}
.footer .footer-c .baidu{
	position: relative;
	left: 140px;
	top: 40px;
}
.footer .footer-c .weixin{
	position: relative;
	left: 120px;
	top: 40px;
}
.footer .footer-c .qq{
	position: relative;
	left: 100px;
	top: 40px;
}
.footer .footer-c .weibo{
	position: relative;
	left: 80px;
	top: 40px;
}
.footer-bottom{
	position: relative;
	top: -50px;
	width: 100%;
	height: 50px;
	background-color:  #161616;
}
.footer-bottom .footer-bottom-c{
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}
.footer-bottom-c p{
	text-align: center;
	font-size: 14px;
	line-height: 50px;
	color: #333;
}
